# Importing Libraries

In [11]:
from sqlalchemy import create_engine
import pandas as pd

# Creating Database Coinnection

In [12]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root", pw="xxxxx", db="Data_Exercise"))

create_query = "CREATE DATABASE IF NOT EXISTS dataexercise"
conn = engine.connect()
result = conn.execute(create_query)
print(result)
print(engine)

<sqlalchemy.engine.result.ResultProxy object at 0x7fab11f2a160>
Engine(mysql+pymysql://root:***@localhost/Data_Exercise)

# Writing csv files to Database

In [13]:
def build_data_frame_dataset(filename: str, cols: list) -> pd.DataFrame:
    df = pd.read_csv(filename, names=cols, header=None, low_memory=False) if cols \
            else  pd.read_csv(filename, low_memory=False)
    
    df = df.iloc[1: , :]
    df.columns = df.columns.str.replace(' ','_')
    return df

In [14]:
#===========LOAD DATASET1============
cols = [
    'CENSUS_YEAR',
    'GEO_CODE (POR)',
    'GEO_LEVEL',
    'GEO_NAME',
    'GNR',
    'DATA_QUALITY_FLAG',
    'ALT_GEO_CODE',
    'Registered or Treaty Indian status',
    'Member ID: Registered or Treaty Indian status',
    'Notes: Registered or Treaty Indian status',
    'Age',
    'Member ID: Age (9)',
    'Notes: Age (9)',
    'Sex',
    'Member ID: Sex (3)',
    'Notes: Sex (3)',
    'dim_Income_statistics',
    'mid_Income_statistics',
    'Notes: Income statistics (17)',
    'Total - Aboriginal identity (Note: 4)',
    'Aboriginal identity',
    'Single Aboriginal responses (Note: 6)',
    'First Nations (North American Indian) (Note: 7)',
    'MÃ©tis',
    'Inuk (Inuit)',
    'Multiple Aboriginal responses (Note: 8)',
    'Aboriginal responses not included elsewhere (Note: 9)',
    'Non Aboriginal identity'
]

df1 = build_data_frame_dataset("98-400-X2016170_English_CSV_data.csv", cols)
df1.to_sql(con=engine, name='dataset1', if_exists='replace')

In [15]:
#===========LOAD DATASET2============

cols2 = [
'CENSUS_YEAR',
'GEO_CODE_(POR)',
'GEO_LEVEL',
'GEO_NAME',
'GNR',    
'DATA_QUALITY_FLAG',
'ALT_GEO_CODE', 
'hh_liv_arr_for_persons_not_in_ec_families_(3)',
'm_id_hh_liv_arr_for_persons_not_in_ec_families_(3)',
'Notes:_hh_liv_arr_for_persons_not_in_ec_families_(3)',
'Age_(9)',
'Member_ID:_Age_(9)',
'Notes:_Age_(9)',
'Sex_(3)',   
'Member_ID:_Sex_(3)',
'Notes:_Sex_(3)',
'Presence_of_earner_(3)',  
'Member_ID:_Presence_of_earner_(3)',
'Notes:_Presence_of_earner_(3)', 
'After_tax_income_groups_(18)',
'Member_ID:_After-tax_income_groups_(18)',
'Notes:_After-tax_income_groups_(18)',
'Member_ID_1_2015_Note2',
'Year_(2):_Member_ID:_[2]:_2005_(Note:_3)'
]

df2 = build_data_frame_dataset("98-400-X2016131_English_CSV_data.csv", cols2)
df2.to_sql(con=engine, name='dataset2', if_exists='replace')